@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --color-theme-main: #A60303;
    --color-theme-main-tone-down:#590C05;
    --color-theme-accent:#001E38;
    --color-background-dark:#0E0E0E;
    --font-family-logo: "Rubik Mono One", monospace;
    --font-family-dramatic: "Vollkorn SC", serif;
    --padding-min: 10px 10px;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    padding: var(--padding-min);
    display: grid;
    color: white;
    background-color: var(--color-theme-main);
    align-content: center;
    justify-content: center;
}
#header h1{
    font-family: var(--font-family-logo);
    font-size: 1rem;
}
#header img{
    height: 50px;
    width: 50px;
    align-self: center;
    justify-self: center;
}
body{
    display: grid;
    min-height: 100vh;
    background-color: var(--color-background-dark);
}
section:has(.herobox){
    padding: 30px;
    display: grid;
    gap: 30px;
}
.herobox{
    display: grid;
    background-color: var(--color-theme-accent);
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 16 / 9;
    align-content: center;
    justify-content: center;
    row-gap: 10px;
}
.herobox h2{
    font-family: var(--font-family-dramatic);
    font-weight: 600;
    color: white;
}
.herobox *{
    text-align: center;
}

.herobox nav{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
.herobox nav a{
    padding: 5px 10px;
    border-radius:5px;
    color: white;
    text-decoration: none;
    background-color: rgb(8, 1, 26);
}
@media (min-width: 1025px){
    section:has(.herobox){
        grid-template-columns: 1fr 1fr;
    }
}
footer{
    min-height: 20vh;
    background-color: var(--color-theme-main-tone-down);
    align-self: end;
}